@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
body {
    font-family: 'Roboto Mono', monospace;
}

.hero-section {
    background-image: url('https://www.transparenttextures.com/patterns/carbon-fibre.png');
    background-repeat: repeat;
}